{% extends 'base.html.twig' %}

{% block title %}Karta Postaci {{character.name}}{% endblock %}

{% block body %}
<div class="container-lg">
    {% for error in app.flashes('error') %}
     <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    {% for succes in app.flashes('succes') %}
     <div class="alert alert-succes">{{ succes }}</div>
    {% endfor %}
    <div id="characterSheet">
        {% if edit %}
            {{ form_start(form) }}
        {% endif %}
        <div class="sheetSection">
       
                <div id="characterImg">
                    <div>{{dump(character.info)}}</div>
                </div>
            </div>
        <div class="sheetSection characterInfo">
            <div id="characterInfo"
                {% if edit %}
                   class="" type="button" data-bs-toggle="collapse" data-bs-target="#characterInfoForm" aria-expanded="false" aria-controls="characterInfoForm"
                {% endif %}
                >
                <table  class=" {% if edit %} clickable {% else %}noclickable {% endif %}" >
                    <tbody>
                        <tr>
                            <td colspan="2"><label>Nazwa postaci:</label><span>{{character.name}}</span></td>
                            <td><label>Rasa:</label><span id="character_race">{{character.info.race}}</span></td>
                            <td>
                                <label>Klasa:</label>
                                <span>
                                    {% if character.profession and character.profession.grupe is defined %}
                                        {{character.profession.grupe}}
                                    {% else %}
                                    brak
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><label>Profesja:</label><span>
                            {% if character.professionLv is defined and character.profession.tierNames is defined %}
                                {{character.profession.tierNames[character.professionLv]}}
                                {% else %}
                                brak
                            {% endif %}
                            </span></td>
                            <td colspan="2">
                                <label>Poziom profesji:</label>
                                <span>
                                    {% if character.profession and character.professionLv is defined  %}
                                        {{character.professionLv +1}}
                                    {% else %}
                                        brak
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"><label>Ścieżka profesji:</label><span>
                            {% if character.profession  and character.profession.name is defined %}
                                {{character.profession.name}}
                                {% else %}
                                brak
                            {% endif %}
                            </span></td>
                            <td>
                                <label>Status:</label>
                                <span>
                                {% if character.professionLv is defined and character.profession.statuses is defined %}
                                    {{character.profession.statuses[character.professionLv]}}
                                {% else %}
                                    brak
                                {% endif %}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Wiek:</label><span id="character_age">{{character.info.age}} lat</span></td>
                            <td><label>Wzrost:</label><span id="character_height">{{character.info.height}} cm</span></td>
                            <td><label>Włosy:</label><span id="character_hair">{{character.info.hair}}</span></td>
                            <td><label>Oczy:</label><span id="character_eyes">{{character.info.eyes}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
             {% if edit %}
            <div id="characterInfoForm" class="accordion-collapse collapse" aria-labelledby="characterInfo" data-bs-parent="#characterSheet">
               
                 <table>
                    <tbody>
                        <tr>
                            <td>
                            <label>{{form_label(form.race)}}</label>
                            <span>{{ form_widget(form.race , {'attr': {'value': character.info.race }})}}</span>
                            <span><input type="text" id="character_race_vis" class="form-control" value="{{character.info.race}}" onChange="updateValue(this)"></span>
                            </td>
                            <td>
                            <label>{{form_label(form.age)}}</label>
                            <span>{{ form_widget(form.age , {'attr': {'value': character.info.age }} )}}</span>
                            <span><input type="number" id="character_age_vis" class="form-control" value="{{character.info.age}}" onChange="updateValue(this)"></span>
                            </td>
                            <td>
                            <label>{{form_label(form.height)}}</label>
                            <span>{{ form_widget(form.height, {'attr': {'value': character.info.height }})}}</span>
                            <span><input type="number" id="character_height_vis" class="form-control" value="{{character.info.height}}" onChange="updateValue(this)"></span>
                            </td>
                            <td>
                            <label>{{form_label(form.hair)}}</label>
                            <span>{{ form_widget(form.hair, {'attr': {'value': character.info.hair }})}}</span>
                            <span><input type="text" id="character_hair_vis" class="form-control" value="{{character.info.hair}}" onChange="updateValue(this)"></span>
                            </td>
                            <td>
                            <label>{{form_label(form.eyes)}}</label>
                            <span>{{ form_widget(form.eyes, {'attr': {'value': character.info.eyes }})}}</span>
                            <span><input type="text" id="character_eyes_vis" class="form-control" value="{{character.info.eyes}}" onChange="updateValue(this)"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
             {% endif %}
        </div>
        <div class="sheetSection">
            <div id="characterAttributes">
                <table class=" {% if edit %} clickable {% else %}noclickable {% endif %}">
                    <tbody>
                        <tr>
                            <td colspan="12" class="text-center"><label>Cechy</label></td>
                        </tr>
                        <tr>
                            <td colspan="2"><label></label></td>
                           <td><span>WW</span></td>
                            <td><span>US</span></td>
                            <td><span>S</span></td>
                            <td><span>Wt</span></td>
                            <td><span>I</span></td>
                            <td><span>Zw</span></td>
                            <td><span>Zr</span></td>
                            <td><span>Int</span></td>
                            <td><span>SW</span></td>
                            <td><span>Ogł</span></td>
                        </tr>
                         <tr>
                            <td colspan="2"><label>Początkowa</label></td>
                            <td><span>WW</span></td>
                            <td><span>US</span></td>
                            <td><span>S</span></td>
                            <td><span>Wt</span></td>
                            <td><span>I</span></td>
                            <td><span>Zw</span></td>
                            <td><span>Zr</span></td>
                            <td><span>Int</span></td>
                            <td><span>SW</span></td>
                            <td><span>Ogł</span></td>
                        </tr>
                         <tr>
                            <td colspan="2"><label>Rozwinięcia</label></td>
                            <td><span>WW</span></td>
                            <td><span>US</span></td>
                            <td><span>S</span></td>
                            <td><span>Wt</span></td>
                            <td><span>I</span></td>
                            <td><span>Zw</span></td>
                            <td><span>Zr</span></td>
                            <td><span>Int</span></td>
                            <td><span>SW</span></td>
                            <td><span>Ogł</span></td>
                        </tr>
                         <tr>
                            <td colspan="2"><label>Aktualna</label></td>
                            <td><span>WW</span></td>
                            <td><span>US</span></td>
                            <td><span>S</span></td>
                            <td><span>Wt</span></td>
                            <td><span>I</span></td>
                            <td><span>Zw</span></td>
                            <td><span>Zr</span></td>
                            <td><span>Int</span></td>
                            <td><span>SW</span></td>
                            <td><span>Ogł</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="characterPoints" 
                {% if edit %}
                   class="" type="button" data-bs-toggle="collapse" data-bs-target="#characterPointsForm" aria-expanded="false" aria-controls="characterPoints"
                {% endif %}
            >
                <table class=" {% if edit %} clickable {% else %}noclickable {% endif %}">
                    <tbody>
                         <tr>
                            <td colspan="6" class="text-center"><label>Punkty Doświadczenia:</label><span>10000000</span></td>
                        </tr>
                         <tr>
                            <td colspan="3"><label>Wolne:</label><span>12220</span></td>
                            <td colspan="3"><label>Wydane:</label><span>10000</span></td>
                           
                        </tr>
                        <tr>
                            <td colspan="3"><label>Punkty Bohatera:</label><span id="character_resolve">{{character.points.resolve}}</span></td>
                            <td colspan="3"><label>Punkty Determinacji:</label><span id="character_resilience">{{character.points.resilience}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="3"><label>Punkty Przeznaczenia:</label><span id="character_fate">{{character.points.fate}}</span></td>
                            <td colspan="3"><label>Punkty Szczęścia:</label><span id="character_luck">{{character.points.luck}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="2"><label>Szybkość:</label><span id="character_speed">{{character.points.speed}}</span></td>
                            <td colspan="2"><label>Chód:</label><span id="character_walk">{{character.points.walk}}</span></td>
                            <td colspan="2"><label>Bieg:</label><span id="character_run">{{character.points.run}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
          {% if edit %}
            <div id="characterPointsForm" class="accordion-collapse collapse" aria-labelledby="characterPoints" data-bs-parent="#characterSheet">
               
                 <table>
                    <tbody>
                        <tr>
                            <td>
                                <label>{{form_label(form.fate)}}</label>
                                <span>{{ form_widget(form.fate, {'attr': {'value': character.points.fate }})}}</span>
                                <span><input type="number" id="character_fate_vis" class="form-control" value="{{character.points.fate}}" onChange="updateValue(this)"></span>
                            </td>
                            <td>
                                <label>{{form_label(form.luck)}}</label>
                                <span>{{ form_widget(form.luck, {'attr': {'value': character.points.luck }})}}</span>
                                <span><input type="number" id="character_luck_vis" class="form-control" value="{{character.points.luck}}" onChange="updateValue(this)"></span>
                            </td>
                        </tr>
                        <tr>
                             <td>
                                <label>{{form_label(form.resolve)}}</label>
                                <span>{{ form_widget(form.resolve, {'attr': {'value': character.points.resolve }})}}</span>
                                <span><input type="number" id="character_resolve_vis" class="form-control" value="{{character.points.resolve}}" onChange="updateValue(this)"></span>
                            </td>
                            <td>
                                <label>{{form_label(form.resilience)}}</label>
                                <span>{{ form_widget(form.resilience, {'attr': {'value': character.points.resilience }})}}</span>
                                <span><input type="number" id="character_resilience_vis" class="form-control" value="{{character.points.resilience}}" onChange="updateValue(this)"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{form_label(form.speed)}}</label>
                                <span>{{ form_widget(form.speed, {'attr': {'value': character.points.speed }})}}</span>
                                <span><input type="number" id="character_speed_vis" class="form-control" value="{{character.points.speed}}" onChange="updateValue(this)"></span>
                            </td>
                            <td>
                                <label>{{form_label(form.walk)}}</label>
                                <span>{{ form_widget(form.walk, {'attr': {'value': character.points.walk }})}}</span>
                                <span><input type="number" id="character_walk_vis" class="form-control" value="{{character.points.walk}}" onChange="updateValue(this)"></span>
                            </td>
                            <td>
                                <label>{{form_label(form.run)}}</label>
                                <span>{{ form_widget(form.run, {'attr': {'value': character.points.run }})}}</span>
                                <span><input type="number" id="character_run_vis" class="form-control" value="{{character.points.run}}" onChange="updateValue(this)"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
             {% endif %}
            <div class="sheetSection">
            <div id="characterAttributes">
                <table class=" {% if edit %} clickable {% else %}noclickable {% endif %}">
                    <tbody>
                        <tr>
                            <td colspan="12" class="text-center"><label>Cechy</label></td>
                        </tr>
                        <tr>
                            <td colspan="2"><label></label></td>
                           <td><span>WW</span></td>
                            <td><span>US</span></td>
                            <td><span>S</span></td>
                            <td><span>Wt</span></td>
                            <td><span>I</span></td>
                            <td><span>Zw</span></td>
                            <td><span>Zr</span></td>
                            <td><span>Int</span></td>
                            <td><span>SW</span></td>
                            <td><span>Ogł</span></td>
                        </tr>
                         <tr>
                            <td colspan="2"><label>Początkowa</label></td>
                            <td><span>WW</span></td>
                            <td><span>US</span></td>
                            <td><span>S</span></td>
                            <td><span>Wt</span></td>
                            <td><span>I</span></td>
                            <td><span>Zw</span></td>
                            <td><span>Zr</span></td>
                            <td><span>Int</span></td>
                            <td><span>SW</span></td>
                            <td><span>Ogł</span></td>
                        </tr>
                         <tr>
                            <td colspan="2"><label>Rozwinięcia</label></td>
                            <td><span>WW</span></td>
                            <td><span>US</span></td>
                            <td><span>S</span></td>
                            <td><span>Wt</span></td>
                            <td><span>I</span></td>
                            <td><span>Zw</span></td>
                            <td><span>Zr</span></td>
                            <td><span>Int</span></td>
                            <td><span>SW</span></td>
                            <td><span>Ogł</span></td>
                        </tr>
                         <tr>
                            <td colspan="2"><label>Aktualna</label></td>
                            <td><span>WW</span></td>
                            <td><span>US</span></td>
                            <td><span>S</span></td>
                            <td><span>Wt</span></td>
                            <td><span>I</span></td>
                            <td><span>Zw</span></td>
                            <td><span>Zr</span></td>
                            <td><span>Int</span></td>
                            <td><span>SW</span></td>
                            <td><span>Ogł</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="characterPoints" 
                {% if edit %}
                   class="" type="button" data-bs-toggle="collapse" data-bs-target="#characterPointsForm" aria-expanded="false" aria-controls="characterPoints"
                {% endif %}
            >
                <table class=" {% if edit %} clickable {% else %}noclickable {% endif %}">
                    <tbody>
                         <tr>
                            <td colspan="6" class="text-center"><label>Punkty Doświadczenia:</label><span>10000000</span></td>
                        </tr>
                         <tr>
                            <td colspan="3"><label>Wolne:</label><span>12220</span></td>
                            <td colspan="3"><label>Wydane:</label><span>10000</span></td>
                           
                        </tr>
                        <tr>
                            <td colspan="3"><label>Punkty Bohatera:</label><span id="character_resolve">{{character.points.resolve}}</span></td>
                            <td colspan="3"><label>Punkty Determinacji:</label><span id="character_resilience">{{character.points.resilience}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="3"><label>Punkty Przeznaczenia:</label><span id="character_fate">{{character.points.fate}}</span></td>
                            <td colspan="3"><label>Punkty Szczęścia:</label><span id="character_luck">{{character.points.luck}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="2"><label>Szybkość:</label><span id="character_speed">{{character.points.speed}}</span></td>
                            <td colspan="2"><label>Chód:</label><span id="character_walk">{{character.points.walk}}</span></td>
                            <td colspan="2"><label>Bieg:</label><span id="character_run">{{character.points.run}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if edit %}
        {{ form_widget(form.submit)}}
        {{ form_end(form) }}
    {% endif %}
</div>
{% endblock %}

{% block footer %}
    {% if edit %}
        <footer>
            <div class="container-lg footer">
                <div class="rightButtons">
                    <button type="submit" class="btn btn-primary" onClick="validateCharacter()">Zapisz</button>
                    <a href="{{ path('app_character_sheet',{'characterId' : character.id, 'action' : 'edit'}) }}"><button type="submit" class="btn btn-primary">Reset</button></a>
                </div>
                <div class="leftButtons">
                    {% if character.profession %}<a href="{{ path('app_customizing_profession',{ 'characterId' : character.id }) }}"><button type="submit" class="btn btn-primary">Profejsa</button></a>{% endif %}
                    <a href="{{ path('app_set_profession',{ 'characterId' : character.id }) }}"><button type="submit" class="btn btn-primary">{% if character.profession %}Zmień Profesje{% else %}Dodaj Profesje{% endif %}</button></a>
                </div>
            </div>
        </footer>
    {% endif %}
{% endblock %}


{% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset("js/menu.js") }}"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
            <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
            <script src="{{ asset("js/characterSheet.js") }}"></script>
{% endblock %}