{% extends 'base.html.twig' %}

{% block title %}Katalog postaci{% endblock %}

{% block body %}

<div class="container-lg">
    {% for error in app.flashes('error') %}
     <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    <div id="characterList">
        <div class="header"><h1>Lista postaci</h1></div>
        <div class="content">
        {# {{ dump(characters) }} #}
        {% for character in characters %}
            <div class="character d-flex">
                <div class="characterImg"><a href='{{path('app_character_sheet',{'characterId' : character.id})}}' class="d-flex"><img src="{{asset("img/base-character-portrait.png")}}"></a></div>
                <div class="characterInfo">
                    <div class="characterName"><a href='{{path('app_character_sheet',{'characterId' : character.id})}}'><p>{{ character.name }}</p></a></div>
                    <div class="characterMoreInfo">
                        <p>Rasa: {{character.info.race}}</p>
                        {% if character.profession and character.professionLv is defined %} 
                            <p>Profesja: {{character.profession.tierNames[character.professionLv]}}</p>
                            <p>Scieżka profesji: {{character.profession.name}}</p>
                        {% else %}
                            <p>Wzrost: {{ character.info.height }} cm</p>
                            <p>Wiek: {{ character.info.age }} lat</p>
                        {% endif %}
                    </div>
                </div>
                <div class="characterButtons">
                    <a href="{{path('app_character_sheet',{'characterId' : character.id})}}"><button class="btn btn-primary btn-lg">Karta Postaci</button></a>
                </div>
                <div class="characterMeta">
                    <div>
                        <h6>Należy do Gracza:</h6>
                        <h4 class="characterPlayer">{{character.player.username}}</h4>
                    </div>
                    {% if character.gameMaster and character.gameMaster.username is not empty %}
                    <div>
                        <h6>Pod opieką Mistrza:</h6>
                        <h4 class="characterGameMaster">{{character.gameMaster.username}}</h4>
                    </div>
                    {% endif %}
                     
                </div>
                
            </div>
        {% endfor %}
        </div>
        <div class="characterListNav">
           
            <div class="nav-button-prev">
                {% if page > 1 %}
                <a href="{{path('app_catalog', { 'page' : page-1 })}}"><button type="submit" class="btn btn-primary"><iconify-icon icon="material-symbols:arrow-right-alt"  width="30" rotate="180deg"></iconify-icon></button></a>
                {% else %}
                 <a><button type="submit" class="btn btn-primary" disabled><iconify-icon icon="material-symbols:arrow-right-alt"  width="30" rotate="180deg"></iconify-icon></button></a>
                {% endif %}
            </div>
             <div class="navPageCounter">
                <span>{{page}}</span>
                <span>/</span>
                <span>{{maxPage}}</span>
            </div>
            <div class="nav-button-next">
                {% if page < maxPage %}
                <a href="{{path('app_catalog', { 'page' : page+1 })}}"><button type="submit" class="btn btn-primary"><iconify-icon icon="material-symbols:arrow-right-alt"  width="30"></iconify-icon></button></a>
                {% else %}
                <a><button type="submit" class="btn btn-primary" disabled><iconify-icon icon="material-symbols:arrow-right-alt"  width="30"></iconify-icon></button></a>
                {% endif %}
            </div>
           
        </div>
    </div>

  
</div>
{% endblock %}
